.desc-text {
  margin-top: 84px;
  font-size: 0.9rem;
  line-height: 16px;
  letter-spacing: 0;
  color: #c1f4e0;
}

.try-it {
  line-height: 20px;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: .5px;
}

.button-container {
  border-bottom: 1px solid silver;
}

.custom-button, .body-button {
  position: relative;
  background-color: transparent !important;
  border: none;
  color: silver !important;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: .75rem;
  margin-right: 30px;
}

.custom-button::after {
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: 0;
  width: 0;
  background-color: #06cc80;
  content: "";
  transition: width .15s ease-in-out;
}

.custom-button:hover, .custom-button:focus, .custom-button:active, .body-button:hover, .body-button:focus, .body-button:active {
 color: #000 !important; 
 background-color: transparent !important;
 border: none !important;
 box-shadow: none !important;
 font-weight: 500;
 outline: none;
}

.custom-button:hover::after, .custom-button:focus::after, .custom-button:active::after {
  width: 100%;
  right: 0;
}

.custom-button::before, .body-button::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.body-desc-text {
  color: #000;
  font-weight: 350;
  line-height: 24px;
}

.home-body {
  height: 15rem;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: lightgrey; 
}
::-webkit-scrollbar-thumb:window-inactive {
background: lightgrey; 
}

.copy-icon {
  background: url("../../img/copy.svg") no-repeat;
  width: 2rem;
  height: 2rem;
}

.copy-icon:hover {
  background: url("../../img/copy-green.svg") no-repeat;
}

.inputFileName::after {
  content: attr(fileName)
}

.inputFileButton {
  /* position: absolute; */
  width: 9rem;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: #06cc80;
  color: #fff;
  border: none;
  border-collapse: collapse;
  /* display: none; */
}

.inputFileButton:focus, .inputFileButton:active {
  border: none;
  outline: none;
}

.inputFileButton::before {
  content: "UPLOAD";
  font-weight: 500;
}

#popover-positioned-top {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .p-style {
    padding-right: 0;
    padding-bottom: 1rem;
  }
}